*.DS_Store
android-mapviewballoons/local.properties
android-mapviewballoons/bin/
android-mapviewballoons/gen/
android-mapviewballoons-example/local.properties
android-mapviewballoons-example/bin/
android-mapviewballoons-example/gen/
