<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    package="com.readystatesoftware.mapviewballoons"
    android:versionCode="4"
    android:versionName="1.5.1" >

    <application>
		<!-- <uses-library android:name="com.google.android.maps" /> -->
        
		<!-- Enable Amazon Maps on Amazon devices. -->
    	<amazon:enable-feature android:name="com.amazon.geo.maps" android:required="false" />
  
		<!-- Make Google Maps library optional. -->
		<uses-library android:name="com.google.android.maps" android:required="false" />
        
    </application>

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>